Repository JAM-Productions/malker, pull requests merged in 2024-02, with the labels that each got.

#90 Adding new endpoints to delete data named as "Cypress Test"
  backend/app.py
  backend/models/plan.py
  backend/models/user.py
  backend/resources/plan.py
  backend/resources/user.py
  backend/tests/functional/test_plan.py
  backend/tests/functional/test_user.py
Labels: DevOps, Backend

#95 Fix images path for deployment
  src/components/Footer.jsx
  src/components/Header.jsx
  src/components/user/UserCard.jsx
Labels: bug, Frontend

#101 Toast custom color
  src/App.jsx
Labels: Frontend

#102 Fix security dependencies
  backend/requirements.txt
Labels: Backend
